@model IEnumerable<CodeFirstBanking.Models.Business>

@{
    ViewData["Title"] = "Index";
}

<b>Business Account(s)</b>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountBalance)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountBalance)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.BusinessId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
