@model CodeFirstBanking.Models.Business

@{
    ViewData["Title"] = "Transfer";
}

<h2>Transfer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.BusinessId, "Business Id:")
                @Html.EditorFor(Model => Model.BusinessId)

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.checkingId, "Checking Id:")
                @Html.EditorFor(Model => Model.checkingId)

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(Model => Model.AccountBalance, "Transfer Amount:")
                @Html.EditorFor(Model => Model.AccountBalance, new { htmlAttributes = new { @class = "form-group", @min="0" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" />
            </div>
        </div>
    </div>
}
